.bannerSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bannerSwiper .swiper-pagination{
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  bottom: 20px;
  left: auto;
  right: 50%;
  transform: translateX(600px);
}

.MDSwiper .swiper-pagination{
  display: flex;
  gap: 10px;
  top: auto;
  bottom: -20px;
  left: 0;
}

.MDSwiper .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: #FF6B00;
}

.MDSwiper .swiper-pagination-bullet-active{
  width: 25px;
  background-color: #FF6B00;
}


.review_prev,
.review_next{
  width: 44px;
  height: 50px;
  color: transparent;
  background-size: cover;
  cursor: pointer;
  position: absolute;
} 

.review_prev:hover,
.review_next:hover{
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

.review_prev{
  top: -10px;
  right: 60px;
}

.review_next{
  top: -10px;
  right: 0;
}